In [1]:
import random

# Initialize an empty array
my_array = []

# Initialize variables for the integer and fifth element counters
integer_counter = 1
fifth_element_counter = 1

# Create a list of unique names
unique_names = [
    'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack',
    'Katie', 'Liam', 'Mia', 'Noah', 'Olivia', 'Parker', 'Quinn', 'Ryan', 'Sophia', 'Thomas',
    'Ava', 'Benjamin', 'Chloe', 'Daniel', 'Emma', 'Freya', 'George', 'Harper', 'Isabella', 'James',
    'Katherine', 'Leo', 'Madison', 'Nathan', 'Oliver', 'Penelope', 'Quincy', 'Riley', 'Samuel', 'Taylor',
    'Uma', 'Victor', 'Willow', 'Xander', 'Yasmine', 'Zachary', 'Abigail', 'Brandon', 'Catherine', 'Dylan',
    'Ella', 'Finn', 'Grace', 'Henry', 'Isabelle', 'Jacob', 'Kayla', 'Liam', 'Mila', 'Nora',
    'Owen', 'Peyton', 'Quinn', 'Ryan', 'Scarlett', 'Theo', 'Uma', 'Violet', 'William', 'Xavier',
    'Yara', 'Zoe', 'Alexa', 'Bentley', 'Cora', 'Declan', 'Eliza', 'Felix', 'Gianna', 'Hudson',
    'Isla', 'Jasper', 'Kylie', 'Lucas', 'Maeve', 'Natalie', 'Oscar', 'Paige', 'Quentin', 'Rebecca',
    'Sofia', 'Tristan', 'Ulysses', 'Vivian', 'Wyatt', 'Xander', 'Yasmine', 'Zane', 'Aria', 'Blake',
    'Caroline', 'Dominic', 'Evelyn', 'Finnley', 'Gabriella', 'Harrison', 'Ivy', 'Jaxon', 'Kendall',
    'Luna', 'Mason', 'Nina', 'Oliver', 'Piper', 'Quincy', 'Riley', 'Sadie', 'Theodore', 'Ursula',
    'Vincent', 'Willow', 'Xavier', 'Yara', 'Zachary'
]

# Create the array
for i in range(1, 118):
    # Determine the gender ("F" or "M")
    gender = f"'{random.choice(['F', 'M'])}'"
    
    # Generate a random unique name
    name = f"'{unique_names.pop()}'"
    
    # Generate a random age between 18 and 65
    age = f"'{random.randint(18, 65)}'"
    
    # Add the elements to the array
    my_array.extend([gender, name, age, str(integer_counter), str(fifth_element_counter)])
    
    # Increment the integer and fifth element counters
    integer_counter += 1
    if integer_counter > 10:
        integer_counter = 1
        fifth_element_counter += 1
        
    # Print a newline every 5 elements
    my_array.append("\n")

# Convert the array elements to a string
my_array_str = ', '.join(my_array)

#print(my_array_str)
# Print the final array with newlines and no commas after newlines
my_array_str = my_array_str.replace('\n, ', '\n')
# Print the final result
print(f'[{my_array_str}]')

['M', 'Zachary', '49', 1, 1,
'M', 'Yara', '19', 2, 1,
'M', 'Xavier', '20', 3, 1,
'M', 'Willow', '28', 4, 1,
'F', 'Vincent', '47', 5, 1,
'F', 'Ursula', '23', 6, 1,
'M', 'Theodore', '36', 7, 1,
'M', 'Sadie', '19', 8, 1,
'M', 'Riley', '20', 9, 1,
'M', 'Quincy', '35', 10, 1,
'M', 'Piper', '21', 1, 2,
'F', 'Oliver', '51', 2, 2,
'M', 'Nina', '22', 3, 2,
'F', 'Mason', '34', 4, 2,
'F', 'Luna', '48', 5, 2,
'F', 'Kendall', '37', 6, 2,
'F', 'Jaxon', '18', 7, 2,
'M', 'Ivy', '63', 8, 2,
'F', 'Harrison', '60', 9, 2,
'F', 'Gabriella', '55', 10, 2,
'F', 'Finnley', '25', 1, 3,
'M', 'Evelyn', '49', 2, 3,
'F', 'Dominic', '38', 3, 3,
'F', 'Caroline', '24', 4, 3,
'F', 'Blake', '61', 5, 3,
'F', 'Aria', '53', 6, 3,
'F', 'Zane', '55', 7, 3,
'F', 'Yasmine', '19', 8, 3,
'M', 'Xander', '42', 9, 3,
'F', 'Wyatt', '60', 10, 3,
'M', 'Vivian', '26', 1, 4,
'F', 'Ulysses', '32', 2, 4,
'F', 'Tristan', '47', 3, 4,
'M', 'Sofia', '57', 4, 4,
'F', 'Rebecca', '56', 5, 4,
'M', 'Quentin', '29', 6, 4,
'F', 'Paige', '62', 7, 4,
'F', 'Oscar', '48', 8, 4,
'F', 'Natalie', '44', 9, 4,
'M', 'Maeve', '51', 10, 4,
'F', 'Lucas', '59', 1, 5,
'F', 'Kylie', '58', 2, 5,
'F', 'Jasper', '53', 3, 5,
'F', 'Isla', '38', 4, 5,
'F', 'Hudson', '61', 5, 5,
'M', 'Gianna', '31', 6, 5,
'M', 'Felix', '25', 7, 5,
'M', 'Eliza', '60', 8, 5,
'M', 'Declan', '53', 9, 5,
'M', 'Cora', '22', 10, 5,
'M', 'Bentley', '39', 1, 6,
'M', 'Alexa', '23', 2, 6,
'F', 'Zoe', '64', 3, 6,
'F', 'Yara', '42', 4, 6,
'F', 'Xavier', '18', 5, 6,
'F', 'William', '37', 6, 6,
'M', 'Violet', '50', 7, 6,
'M', 'Uma', '55', 8, 6,
'F', 'Theo', '62', 9, 6,
'M', 'Scarlett', '47', 10, 6,
'M', 'Ryan', '39', 1, 7,
'F', 'Quinn', '61', 2, 7,
'M', 'Peyton', '30', 3, 7,
'F', 'Owen', '37', 4, 7,
'M', 'Nora', '59', 5, 7,
'M', 'Mila', '26', 6, 7,
'M', 'Liam', '38', 7, 7,
'M', 'Kayla', '53', 8, 7,
'M', 'Jacob', '27', 9, 7,
'F', 'Isabelle', '21', 10, 7,
'M', 'Henry', '53', 1, 8,
'M', 'Grace', '53', 2, 8,
'F', 'Finn', '43', 3, 8,
'M', 'Ella', '45', 4, 8,
'M', 'Dylan', '51', 5, 8,
'M', 'Catherine', '55', 6, 8,
'M', 'Brandon', '29', 7, 8,
'M', 'Abigail', '58', 8, 8,
'F', 'Zachary', '65', 9, 8,
'M', 'Yasmine', '36', 10, 8,
'M', 'Xander', '36', 1, 9,
'M', 'Willow', '57', 2, 9,
'F', 'Victor', '45', 3, 9,
'M', 'Uma', '55', 4, 9,
'F', 'Taylor', '34', 5, 9,
'M', 'Samuel', '29', 6, 9,
'F', 'Riley', '50', 7, 9,
'F', 'Quincy', '44', 8, 9,
'M', 'Penelope', '59', 9, 9,
'M', 'Oliver', '20', 10, 9,
'M', 'Nathan', '19', 1, 10,
'M', 'Madison', '35', 2, 10,
'M', 'Leo', '29', 3, 10,
'M', 'Katherine', '19', 4, 10,
'M', 'James', '51', 5, 10,
'M', 'Isabella', '32', 6, 10,
'M', 'Harper', '43', 7, 10,
'M', 'George', '51', 8, 10,
'F', 'Freya', '53', 9, 10,
'M', 'Emma', '36', 10, 10,
'M', 'Daniel', '58', 1, 11,
'M', 'Chloe', '51', 2, 11,
'M', 'Benjamin', '19', 3, 11,
'M', 'Ava', '24', 4, 11,
'F', 'Thomas', '50', 5, 11,
'F', 'Sophia', '44', 6, 11,
'M', 'Ryan', '39', 7, 11,
'F', 'Quinn', '65', 8, 11,
'F', 'Parker', '33', 9, 11,
'F', 'Olivia', '51', 10, 11,
'M', 'Noah', '61', 1, 12,
'M', 'Mia', '47', 2, 12,
'F', 'Liam', '24', 3, 12,
'F', 'Katie', '38', 4, 12,
'F', 'Jack', '31', 5, 12,
'F', 'Ivy', '34', 6, 12,
'F', 'Hannah', '20', 7, 12,
]